option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node app-debug.js"
    NodeVersion: 18.17.0
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
